#aboutpage{
    display: flex;
    width: 100%;
    padding: 3vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutpage>p{
    padding: 0 30%;
}

#aboutSec>p{
    padding: 0 20%;
}

#feedbackSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 60%;
    padding: 20px 10vw;
    box-shadow: 0px 10px 20px rgba(192, 192, 192);
}

#feedbackSec>input{
    margin: 10px 0;
}

#feedback{
    height: 200px;
}