#navbarbody {
    border: 2px solid red;
    background-color: rgba(255, 255, 255, .8);
    border: 2px outset rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px rgba(255, 167, 167, 0.8);
    backdrop-filter: blur(2px);
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--navbar-height);
    padding: 1% 5%;
}

#logo>span {
    /* border: 2px solid red; */
    color: var(--theme-pri);
}

#headlinks>ul {
    display: flex;
}

#headlinks>ul>li {
    /* color: white; */
    font-weight: bold;
    /* border: 2px solid red; */
    text-decoration: none;
    list-style: none;
    margin: 50px;
    transition: all 0.1s ease;
}

#headlinks>ul>li:hover {
    color: var(--theme-pri);
    transform: scale(1.05);
}

#btnNav{
    border: 2px solid var(--theme-pri);
    color: var(--theme-pri);
    background: transparent;
    font-size: small;
    font-weight: bold;
    padding: 5px 20px;
}

#btnNav:hover{
    color: white;
    background: var(--theme-pri);
}