#updatepage {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

#updateblogtheme {
    /* border: 2px solid red; */
    /* background: black url(../../img/defaultBlogTheme.png) no-repeat center; */
    width: 100%;
    background-color: black;
    max-height: 50vh;
    position: relative;
    overflow: hidden;
}

#updateblogtheme>*{
    /* border: 2px solid red; */
}

#updateblogtheme>img:nth-child(1) {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#updateblogtheme>div {
    /* border: 2px solid red; */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: invert();
    background-color: rgba(255, 255, 255, .5);
}

#updateblogtheme>div>img {
    /* border: 2px solid red; */
    object-fit: contain;
    width: 70px;
    margin: 0 50px;
}

#updateblogtheme>div>img:hover {
    transform: scale(1.1);
}


#updateblogtheme:hover .editphoto {
    display: flex;
    justify-content: center;
    align-items: center;
}

#getImgLink{
    display: none;
    background-color: rgba(192, 192, 192, 0.1);
    /* border: none; */
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}

#updateblogbody {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 10px 10vw;
}

#updatecategory {
    width: 200px;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
}

#updatebtitle {
    color: var(--theme-pri);
    line-height: 110%;
    text-align: justify;
    border: none;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: larger;
}

#bcredential {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#bcredential>* {
    color: silver;
}

#updatebblah {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: none;
    background: rgba(192, 192, 192, 0.1);
}

#updatebblah::-webkit-scrollbar {
    display: none;
}

#updatebpostsec {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#updatebpostsec>button {
    width: 100px;
}